/**

SWIPER STYLES

**/
html, body {
  position: relative;
  height: 100%; }

body {
  background: #FF6138;
}

.app {
    background:url(../img/loader.svg) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:196px;                   /* text area height */
    width:196px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-98px 0px 0px -98px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}
